@charset "utf-8";

* {
	margin : 0 auto;
	color : #333333;
}
/* 전체 여백 자동  */
body {
	font-family : "나눔바른고딕", sans-serif;
}
/* 폰트 설정 */

ul {
	padding : 0;
}
/* ul 안여백 0 */
ul>li {
	list-style : none;
}
/* list 스타일 없음 */
a {
	text-decoration : none;
	color : inherit;
}
/* 부모 요소로부터 해당 속성의 계산값을 받아 사용 */
/* a 꾸밈 없음  */

.header_cover {
	width : 100%;
	height : 100px;
	border-bottom : 1px solid rgb(255, 255, 255);
	/* 헤더 아래 직선줄바 */
	position : relative;
	z-index : 50;
}	

.header_cover:hover {
	background-color : rgba(255,255,255,0.8);
	border-bottom : 1px solid #bfa586;
}
/* 마우스가 위로 올라가면 */

.header_cover:hover .main>li>a {
	color : #666;
}
/* 마우스 올라가면 a요소 컬러 변경 */

.header_cover:hover>header>h1>a {
	background-image : url('../media/seedllogo.svg');
}
/* 헤드_커버에 마우스 올리면 img 보임 */

header {
	width : 1500px;
	height : 1000px;

}

.bg {
        
	height: 1000px;
	background-image : url(../media/garlic.jpg)
}


header:after {
	content : "";
	display : block;
	clear : both;
}

header>h1 {
	width : 400px;
	float : left;
	margin-top : 25px;
}
/* 가로길이 설정
왼쪽 정렬
위여백 25 */

header>h1>a {
	display : block;
	width : 200px;
	height : 50px;
	background-image : url(../media/담다.PNG);
}

/* 마우스 안올렸을때 헤더 이미지 */
header>nav {
	width : 1000px;
	float : left;
}

.main {
	width :600px;
	margin-left : 250px;
	float : left;
	margin-top : 35px;
}
/* 메인 세로길이 왼쪽여백 왼쪽정렬 위여백 */

.main>li {
	width : 150px;
	height : 100px;
	float : left;
	position : relative;
}
/* main에 있는 li 설정값 */

.main>li>a {
	display : inline-block;
	width : 150px;
	height : 30px;
	text-align : center;
	line-height : 30px;
	font-size : 20px;
	color : #fff;
}
/* main에 있는 li a 설정값  */
.main>li>a:hover {
	color : #bfa586 !important;
}
/* main li a에 마우스 올리면 컬러 변함 */

.add {
	color : #bfa586;
}	

.sub {
	position : absolute;
	width : 600px;
	left : -75px;
	z-index : 50;
	margin-top : 50px;
}

.sub>li {
	float : left;	
}

.sub>li>a {
	display : inline-block;
	width : 120px;
	height : 30px;
	text-align : center;
	line-height : 30px;
}
/* display : inline-block: block과 inline의 특성 */

.sub>li>a:hover {
	color : #bfa586;
}

.sub_bg {
	width : 100%;
	height : auto;
	position : relative;
	z-index : 49;
	background-attachment:fixed; 
	background-image:url('../media/그냥테이블.PNG')

}
/* background-attachment:fixed; 고정 */

.contents {
	min-height : 600px;
	position : relative;	
}
/* position : relative 위치를 계산할때  원래 위치부터 계산한다. */

.footer_cover {
	width : 100%;
	height : 100px;
	border-top : 1px solid #ccc;
	background-color : #fff;
	margin-top : 50px;
}
/* 하단 설정값 */

footer {
	width : 1400px;
	height : 100px;
	position : relative;
}

footer:after {
	content : "";
	display : block;
	clear : both;
}

footer>h2 {
	width : 300px;
	float : left;
	text-align : center;
	margin-top : 28px;
}

footer>h2>a>img {
	width : 180px;
	text-align : center;
}
/* 텍스트 정렬 센터 */

.copy {
	width : 1100px;
	height : 100px;
	float : left;
	font-size : 0.9em;
	text-align : center;
	margin-top : 20px;
	line-height : 30px;
}
/* 내가 쓰는 거 */
/*컨텐츠 */
.cont {}
.cont .column {position:relative; float:left; width:289px; height: 363px; background:rgb(236, 234, 201); margin: 80px 40px 40px 0; padding-right: 30px;}
.cont .col1{border:1px solid  rgb(96, 151, 71);}
.cont .col2{border:1px solid rgb(96, 151, 71);}
.cont .col3{border:1px solid rgb(96, 151, 71);}
.cont .col4{border:1px solid rgb(96, 151, 71);}
.cont .col5{border:1px solid rgb(96, 151, 71);}
.cont .col6{border:1px solid rgb(96, 151, 71);}

.cont .column .ico_img {display: block; width:40px; height: 40px; background: url(../media/seedllogo.svg) no-repeat; 
	position:absolute; left:0; top:0; margin: 10px; }
	/* position은 기본값이랑 같이 쓴다. */
	.cont .column .ico_tit {padding: 70px; font-size:24px; color:rgb(92, 75, 2) }
	.cont .column .ico_desc {padding-left: 30px; border-bottom: 1px solid #d0d0; padding-top:15px;
	width: 250px; height:100px;}

	.ico_img {
		background-position: 0px -240px;
	}

.bg{
		flex-wrap: wrap;
		height: auto;
	
	}
.bg .image {
	
	
	text-align: center;
	
	/* 가로로 */
	padding: auto;
 background-color: rgb(250, 232, 199, 0.5);
  width: 1000px; 
  height: auto; 
 font-size: 20px;
 justify-content: center;
}

.logoimage{
	justify-content: center;
}